[slack]# Info about slack bot, triage channel
app_id=
bot_uid=
access_token=
channel_id=
signing_secret=
api_base=https://slack.com/api/

[google]# Calendar ID on which to operate
calendar=

[db]# DB for storing correlation data - MySQL or MySQL analogues are recommended.
type=
port=
name=
host=
user=
pass=
